<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<style>
.nav-container{
	overflow: auto;
  scroll-snap-type: y mandatory;
}
.nav-item{
	scroll-snap-align: start;
}
</style>
<div class="app-sidebar colored" th:fragment="leftFragment">
	<div class="sidebar-header">
		<a class="header-brand" href="/">
			<div class="logo-img">
				<img src="src/img/brand-white.svg" class="header-brand-img"
					alt="lavalite">
			</div> <span class="text">그룹웨어</span>
		</a>
		<button type="button" class="nav-toggle">
			<i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i>
		</button>
		<button id="sidebarClose" class="nav-close">
			<i class="ik ik-x"></i>
		</button>
	</div>

	<div class="sidebar-content">
		<div class="nav-container">
			<nav id="main-menu-navigation" class="navigation-main">
				<div class="nav-lavel">#1.인사관리 jung</div>
				<div class="nav-item active">
					<a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
				</div>
				<div class="nav-item">
					<a href="#"><i class="ik ik-menu"></i><span>Navigation</span>
						<span class="badge badge-success">New</span></a>
				</div>
				<div class="nav-item has-sub">
					<a href="#"><i class="ik ik-layers"></i><span>Widgets</span>
						<span class="badge badge-danger">150+</span></a>
					<div class="submenu-content">
						<a href="#" class="menu-item">Basic</a> <a
							href="#" class="menu-item">Statistic</a>
						<a href="#" class="menu-item">Data</a> <a
							href="#" class="menu-item">Chart Widget</a>
					</div>
				</div>
				<div class="nav-lavel">!2.전자결재 geon</div>
					<div class="nav-item">
						<a href="#"><i class="ik ik-edit"></i><span>기안하기</span> </a>
					</div>
				<div class="nav-item has-sub">
					<a href="#"><i class="ik ik-file-text"></i><span>진행 중인 문서</span></a>
					<div class="submenu-content">
						<a th:href="@{/selectAllOngoingDocumentList}" class="menu-item">전체</a> <a
							href="#" class="menu-item">대기</a> <a
							href="#" class="menu-item">확인</a> <a
							href="#" class="menu-item">예정</a> <a
							href="#" class="menu-item">진행</a>
					</div>
				</div>
				<div class="nav-item has-sub">
					<a href="#"><i class="ik ik-inbox"></i><span>문서함</span> <span
						class="badge badge-success">New</span></a>
					<div class="submenu-content">
						<a href="#" class="menu-item">전체</a> 
						<a href="#" class="menu-item">기안</a>
						<a href="#" class="menu-item">결재</a> 
						<a href="#" class="menu-item">수신</a> 
						<a href="#" class="menu-item">회람/참조</a>
						<a href="#" class="menu-item">반려</a>
						<a href="#" class="menu-item">임시저장</a>		
					</div>
				
				</div>
				<div class="nav-item has-sub">
					<a href="#"><i class="ik ik-settings"></i><span>전자결재 설정</span></a>
					<div class="submenu-content">
						<a href="#" class="menu-item">기본 설정</a>
						<a th:href="@{/selectDocumentFormList}" class="menu-item">양식함 관리</a>
						<a href="#" class="menu-item">전체 문서 목록</a>
						<a href="#" class="menu-item">삭제 문서 목록</a>
						
					</div>
				</div>

				<div class="nav-lavel">!3.프로젝트관리 yeon</div>
				<div class="nav-item has-sub">
					<a href="#"><i class="ik ik-folder"></i><span>프로젝트</span></a>
					<div class="submenu-content">
						<a href="projectList" class="menu-item">내 프로젝트</a>
						<a href="#" class="menu-item">타임라인</a> 
						<a href="#" class="menu-item">내 업무</a>
					</div>
				</div>
				<div class="nav-item">
					<a href="pages/form-picker.html"><i class="ik ik-activity"></i><span>캘린더</span> <span class="badge badge-success">New</span></a>
				</div>
				<div class="nav-lavel">!4.게시판 won</div>
				<div class="nav-item">
					<a href="/boardList"><i
						class="ik ik-edit"></i><span>게시판</span><span class="badge badge-success">New</span></a>
				</div>
				

				<div class="nav-lavel">#5.메신저 won</div>
				<div class="nav-item">
					<a href="#"><i class="ik ik-message-square"></i><span>메신저</span>
						<span class="badge badge-success">New</span></a>
					
				</div>

				
			</nav>
		</div>
	</div>
</div>
</html>