<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 
	스타일 적용
	style="right: 240px;"
 -->

<th:block th:fragment="rightFragment">

	<link rel="stylesheet" href="messenger/css/Messenger.css">	<!-- 채팅방 css -->
	
	
	<script type="text/javascript">
	
		
	
	</script> 
	
	<aside class="right-sidebar">
	
		<div class="sidebar-chat" data-plugin="chat-sidebar">
			<div class="sidebar-chat-info">
				
				<h6 class="f-13">
		            <a href="#!" class="chat-list-search" data-toggle="modal" data-target="#create-chat-room-modal"><i class="ik ik-plus-square f-18 text-secondary"></i></a>				
					대화방 리스트					
				</h6>
	
				<form class="mr-t-10">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="대화방, 참여자 검색"> 
						<i class="ik ik-search"></i>
					</div>
				</form>
			</div>
	
			<div class="chat-list">
			
				<div class="col-xs-12">
							
	            	<!-- 대화방리스트 div Start-->
                   	<div class="align-middle mb-25 chat-list-room">
                   
                       	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="rounded-circle img-40 align-top mr-15">	<!-- 대표 이미지 -->
                       
                       	<div class="d-inline-block chat-list-room-info">
                       
                           	<span class="chat-list-title">경영팀 대화방</span>		<!-- 대화방 제목 -->
                           	
                           	<span class="chat-list-room-user">6</span>	<!-- 대화방 인원수 -->
                           	
                           	<p class="text-muted mb-0">
	                           		넵								<!-- 대화방 최근 메시지 -->
	                           		<span class="badge bg-success chat-list-room-badge" >2</span>	<!-- 안읽은 메시지 개수 -->
	                           	</p>
                           
                           	<span class="chat-list-time status deactive text-mute">	<!-- 최근 메시지 시간 표시 -->
                           		오전 11:54
                           	</span>
                           
                       	</div>
                       
                   	</div>
	                <!-- 대화방리스트 div End -->
	                   
                   	<!-- 대화방리스트 div Start-->
                   	<div class="align-middle mb-25 chat-list-room">
                   
                       	<img src="../messenger/img/pengsu.jpg" alt="user image" class="rounded-circle img-40 align-top mr-15">	<!-- 대표 이미지 -->
                       
                       	<div class="d-inline-block chat-list-room-info">
                       
                           	<span class="chat-list-title">34기 대화방</span>		<!-- 대화방 제목 -->
                           	
                           	<span class="chat-list-room-user">10</span>	<!-- 대화방 인원수 -->
                           
                           	<p class="text-muted mb-0">
                           		하하								<!-- 대화방 최근 메시지 -->
                           		<span class="badge bg-success chat-list-room-badge" >1</span>	<!-- 안읽은 메시지 개수 -->
                           	</p>		
                           
                           	<span class="status active"></span>			<!-- 안읽은 메시지 갯수  -->
                           
                           	<span class="chat-list-time status deactive text-mute">	<!-- 최근 메시지 시간 표시 -->
                           		오전 11:54
                           	</span>
                           
                       	</div>
                       
                   	</div>
                   	<!-- 대화방리스트 div End -->
	                   
                   	<!-- 대화방리스트 div Start-->
                   	<div class="align-middle mb-25 chat-list-room">
                   
                       	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="rounded-circle img-40 align-top mr-15">	<!-- 대표 이미지 -->
                       
                       	<div class="d-inline-block chat-list-room-info">
                       
                           	<span class="chat-list-title">2팀 대화방</span>		<!-- 대화방 제목 -->
                           	
                           	<span class="chat-list-room-user">3</span>	<!-- 대화방 인원수 -->
                           
                           	<p class="text-muted mb-0">
                           		ㅎㅇ								<!-- 대화방 최근 메시지 -->
                           		<span class="badge bg-success chat-list-room-badge" >100</span>
                           	</p>		
                           	
                           
                           	<span class="chat-list-time status deactive text-mute">	<!-- 최근 메시지 시간 표시 -->
                           		오전 11:54
                           	</span>
                           
                       	</div>
                       
                   	</div>
                   	<!-- 대화방리스트 div End -->
				</div>
				
			</div>	
	
		</div>
	
	</aside>
	
	
	
	<!-- 채팅방 상세보기 Start-->
	<div class="card chat-card col-md-6 chat-room" style="display:none">
	        
    	<!-- 채팅방 헤더 Start -->
        <div class="chat-room-header card-header row">
        
			<!-- 채팅방 제목 -->	
        	<div class="col-md-8">
            	<span class="chat-room-title"><i class="ik ik-message-square"></i>  2팀 대화방</span>	
        		<a href="#">
        			<i class="ik ik-user f-16 text-secondary"></i>
        			<span class="chat-room-user"></span>
        		</a>		<!-- 인원 수 -->
        	</div>
        	
        	<!-- 취소 버튼 -->
           	<div class="col-md-4" style="padding: 0;">
           	
           		<div style="float:right">
                	<a href="#" class="chat-room-close"><i class="ik ik-x close-card f-18 text-secondary"></i></a>
           		</div>
           	</div>
       
        </div>
        <!-- 채팅방 헤더 End -->
        
        <div class="row">
        	
        	<!-- 채팅방 body Start-->
         	<div class="chat-room-body card-block col-md-11" style="-ms-overflow-style: none;">
         								            
	        	<!-- 받은 메시지 Start -->
	            <div class="mb-20 received-chat">
             		<div class="col-sm-12">
             	
	                  	<div class="msg-user">
	                      	<img src="../img/users/2.jpg" alt="user image" class="rounded-circle img-40">	<!-- 이미지 표시 -->
	                  	</div>
                  
                  		<div class="msg-content">
                  	
		                  	<div class="msg-text-wrap">
		                  	
		                       	<h6 class="chat-room-name f-14">이원준</h6>		<!-- 아이디 표시 -->
		                       
		                       	<div class="msg chat-room-message">				<!--  메시지-->
		                           	<p class="mb-0">안녕하세요. 안녕하세요 .안녕하세요</p>
		                       	</div>
		                       	<div class="msg chat-room-message">
		                           	<p class="mb-0">안녕하세요</p>
		                       	</div>		
		                       	<div class="text-muted mb-0 msg-time">
		                      		<i class="fa fa-clock-o mr-10"></i>오전 10:20
		                       	</div>	<!-- 시간 표시 -->
		                       	
		                  	</div>
	                 
	                  	</div>
                  
            		</div>		                    
             	</div>
             	<!-- 받은 메시지 End -->
             
       
             	<!-- 보낸 메시지 Start -->
             	<div class="mb-20 send-chat">
             
                 	<div class="msg-user">
                     	<img src="../img/users/3.jpg" alt="user image" class="rounded-circle img-40">	<!-- 이미지 표시 -->
                 	</div>
                 	
                 	<div class="msg-content">
                 	
                 		<div class="msg-text-wrap">
                 		
		                	<div class="msg chat-room-message" style="float: right; clear: both;">		<!-- 메시지 표시 -->
	                          	<p class="mb-0">ㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇ</p>
	                      	</div>
	                      	<div class="msg chat-room-message" style="float: right; clear: both;">
	                          	<p class="mb-0">ㅎㅇㅎㅇ</p>
	                      	</div>
	                      	<div class="msg chat-room-message" style="float: right; clear: both;">
	                          	<p class="mb-0">ㅎㅇㅎㅇ</p>
	                      	</div>
	                      	<div class="msg chat-room-message" style="float: right; clear: both;">
	                          	<p class="mb-0">ㅎㅇㅎㅇ</p>
	                      	</div>
	                      	<div class="msg chat-room-message" style="float: right; clear: both;">
	                          	<p class="mb-0">ㅎㅇㅎㅇ</p>
	                      	</div>
	                      	<div class="msg chat-room-message" style="float: right; clear: both;">
	                          	<p class="mb-0">ㅎㅇㅎㅇ</p>
	                      	</div>
	                      	
                 		</div>
                 	
                     	<div class="text-muted mb-0 msg-time">
                     		<i class="fa fa-clock-o mr-10"></i>오전  10:21
                     	</div>	<!-- 시간 표시 -->
	    
                 	</div>
         
             	</div>
             	<!-- 보낸 메시지 End -->
  
         	</div>
         	<!-- 채팅방 body End -->
         
         	<!-- 채팅방 메뉴바 -->
         	<div class="col-md-1 chat-room-menu">
         
         		<div class="col-md-12 chat-room-menu-item menu-btn"><a href="#"><i class="ik ik-align-justify f-20 text-secondary"></i></a></div>
         		
         		<div class="menu-item" style="display: none;">
					<div class="col-md-12 chat-room-menu-item" ><a href="#"><i class="ik ik-search f-20 text-info"></i></a></div>		            
		          	<div class="col-md-12 chat-room-menu-item" ><a href="#"><i class="ik ik-user-plus f-20 text-primary"></i></a></div>
		          	<div class="col-md-12 chat-room-menu-item" ><a href="#"><i class="ik ik-save f-20 text-success"></i></a></div>
           		</div>
         	</div>
         	
        </div>
        
        
        	<!-- 채팅 입력창 Start -->
            <div class="chat-room-input right-icon-control cold-md-12">
            
                <div class="input-group input-group-button">
                
                    <input type="text" class="form-control" placeholder="메시지를 입력하세요">
                    <!-- <textarea autofocus class="form-control border-1 flex-1" rows="1">
                    </textarea> -->
                    
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="ik ik-message-square"></i></button>
                    </div>
                    
                </div>
                
            </div>
            <!-- 채팅 입력창 End -->
    </div>
	<!-- 대화방 상세보기 End-->
	
	<!-- 새로운 대화방 생성 Modal Start-->
	<div class="modal fade show" id="create-chat-room-modal" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal mt-0 mb-0 modal-dialog-centered" role="document">
 			<div class="modal-content">
 				
 				<!-- 모달 헤더 Start-->
	    		<div class="modal-header" style="padding-bottom: 0px;">
	    			<div class="row">
	    			
	    				<div class="col-md-12">
			          		<h6 class="modal-title f-16">새로운 대화방</h6>
			          	</div>
			          	
			      		<div class="col-md-12" style="margin-bottom: 0px">
			      			<form class="mr-t-10">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="제목을 입력해주세요"> 
									
								</div>
							</form>
			      		</div>
			      			
	    			</div>
	    			
	      		</div>
	      		<!-- 모달 헤더 End-->
	      		
		      	<div class="modal-body">
		      		
		      		<!-- 사용자 선택시 네임태그 생성 Start -->
	      			<form action="">
                         <div class="name-tag-area">
	                         
	                         <div class="name-tag name-tag-clone" style="display:none;">
		                         <a href="#" class="badge badge-light mb-1" style="position: relative; width: 60px;">
		                         	<img src="" alt="user image" class="tag-user-image rounded-circle img-40 align-top mr-15">
		                         	<i class="ik ik-x"></i>
		                         	<span class="tag-user-name"></span>
		                         	<input type="hidden" class="tag-check-num">
		                         </a>
	                         </div>
	                  
                         </div>
                         
                     </form>
		      		<!-- 사용자 선택시 네임태그 생성 End -->
		      		
		      		<!-- 사용자 선택 라디오박스  Start-->
	  		  		<div class="form-radio row chat-radio-user-choice">
		                <form>
		                	<div class="chat-radio-group row">
		                	
			                	<div class="chat-radio-group-header col-md-12"> 
			                		<span class="f-14 chat-radio-group-name">경영지원부</span> 
			                	</div>
			                	
			                	<div class="radio radio-inline radio chat-radio-user col-md-12">
			                        <label>
			                            <input type="radio" name="radio-check-1" class="chat-radio-btn">
			                        	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="chat-radio-user-image rounded-circle img-40 align-top mr-15">
			                        	<span class="chat-radio-user-group">경영지원부 개발1팀 </span>
			                            <span class="chat-radio-user-name">이원준</span>
			                            <i class="helper"></i>
			                            <input type="hidden" class="radio-check-num" value="-1">
			                        </label>
			                  	</div>
			                  	<div class="radio radio-inline radio chat-radio-user col-md-12">
			                        <label>
			                            <input type="radio" name="radio-check-2" class="chat-radio-btn">
			                        	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="chat-radio-user-image rounded-circle img-40 align-top mr-15">
			                        	<span class="chat-radio-user-group">경영지원부 개발1팀 </span>
			                            <span class="chat-radio-user-name">김건훈</span>
			                            <i class="helper"></i>
			                            <input type="hidden" class="radio-check-num" value="-1">
			                        </label>
			                  	</div>
			                  	
			                  	
			                  	
		                	</div>
		                	
		                	<div class="chat-radio-group row">
		                	
			                	<div class="chat-radio-group-header col-md-12"> 
			                		<span class="f-14 chat-radio-group-name">마케팅부</span> 
			                	</div>
			                	
			                	<div class="radio radio-inline radio chat-radio-user col-md-12">
			                        <label>
			                            <input type="radio" name="radio-check-5" class="chat-radio-btn">
			                        	<img src="../messenger/img/pengsu2.jpg" alt="user image" class="chat-radio-user-image rounded-circle img-40 align-top mr-15">
			                        	<span class="chat-radio-user-group">마케팅부 개발1팀 </span>
			                            <span class="chat-radio-user-name">김연지</span>
			                            <i class="helper"></i>
			                            <input type="hidden" class="radio-check-num" value="-1">
			                        </label>
			                  	</div>
			                	
			                  	
		                	</div>
		               
		                  	
		                </form>
		            </div>
		            <!-- 사용자 선택 라디오박스  End-->
	        
		       </div>
	       
		       <div class="modal-footer">
		           <button type="button" class="btn btn-primary" data-dismiss="modal" id=approverAddBtn>확인</button>
		           <button type="button" class="btn btn-secondary" data-dismiss="modal" id=approverCancelBtn>취소</button>
		       </div>
	       
	   		</div>
	  	</div>
	</div>  
	<!-- 새로운 대화방 생성 Modal End-->
	
<script src="messenger/js/front.js"></script>	<!-- 메신저 화면 js -->
	
</th:block>



</html>