<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team02.groupware.mapper.ElectronicApprovalMapper"> 
 
 <!-- 양식함관리 페이지 내 문서양식 테이블 dto map -->
  <resultMap type="ElectronicApprovalDocument" id="eaDocumentFormResultMap">
  	<result property="dFormCode" column="d_form_code"/>
  	<result property="dSecurityLevel" column="d_security_level"/>
  	<result property="dFormTypeCode" column="d_form_type_code"/>
  	<result property="dApprovalFormatCode" column="d_approval_format_code"/>
  	<result property="dFormName" column="d_form_name"/>
  	<result property="dFormAbbreviation" column="d_form_abbreviation"/>
  	<result property="dFormDetailExplanation" column="d_form_detail_explanation"/>
  	<result property="dSecurityLevelChangeable" column="d_security_level_changeable"/>
  	<result property="dExpiryDate" column="d_expiry_date"/>
  	<result property="dExpiryDateChangeable" column="d_expiry_date_changeable"/>
  	<result property="dFormDetailContent" column="d_form_detail_content"/>
  </resultMap>
  

  <!-- 양식함관리 페이지 내 문서양식 테이블 조회  -->
  <select id="selectEaDocumentForm" resultMap="eaDocumentFormResultMap">
  /* 문서양식 테이블 조회 쿼리문 실행 */  
	SELECT 
		*
	FROM 
		ea_document_form;
  </select>
  </mapper>