<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  		
	
<mapper namespace="com.team02.groupware.mapper.MessengerMapper">
	
	<!-- 채팅방 리스트 resultMap  -->
	<resultMap id="selectChatRoomList" type="map">
	
    	<result property="chatRoomTitle" column="chat_room_title"/>
    	<result property="chatRoomCode" column="chat_room_code"/>
    	<result property="chatLastMessage" column="chat_message_content"/>
    	
  	</resultMap>
	
	<!-- 채팅방 리스트 select -->
	<select id="selectChatRoomList" resultMap="selectChatRoomList" parameterType="String">
		SELECT 
			rpu.chat_room_code AS chat_room_code
			,chat_room_title
		FROM
			chat_room_per_user AS rpu
			INNER join
			chat_room_list AS rl
			on
			rl.chat_room_code
			=
			rpu.chat_room_code
		WHERE
			rpu.chat_user_id = #{userId}
	
	</select>
	
	
	<!-- 채팅방 상세보기 resultMap  -->
	<resultMap id="selectChatRoomView" type="map">
	
    	<result property="chatMsgCode" column="chat_message_code"/>
    	<result property="chatMsgDate" column="chat_message_date"/>
    	<result property="chatMsgUser" column="chat_message_user"/>
    	<result property="chatMsgContent" column="chat_message_content"/>
    	
  	</resultMap>
  	
	<!-- 채팅방 상세보기 select -->
	<select id="selectChatRoomView" resultMap="selectChatRoomView" parameterType="String">
		SELECT 
			chat_message_code
			,chat_message_date
			,chat_message_user
			,chat_message_content
			
		FROM 
			chat_message_log
		WHERE
			chat_room_code = ${roomCode}
	
	</select>
	
	<!-- 채팅 메시지 insert -->
	<insert id="insertChatMessage" parameterType="ChatMessage">
		
		INSERT 
			INTO chat_message_log
			
			(chat_message_code, 
			chat_message_date, 
			chat_message_user, 
			chat_message_content, 
			chat_room_code)
			
		VALUES 
			(NULL, 
			NOW(), 
			#{sender}, 
			#{content}, 
			${chatRoomCode})
		
		
		

	</insert>		






</mapper>