<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team02.groupware.mapper.ProjectMapper">
	
	
	<select id="getProjectRowCount" resultType="int">
	SELECT
		COUNT(1)
	FROM
		project_list

	</select>
	<!-- 게시판 리스트 조회 -->
	<!--parametertype= "java.util.Map" --> 
	<select id="getProjectlist" parameterType="map" resultType="Project">
		SELECT
			project_code AS pCode
			,employee_number AS eCode
			,project_title AS pTitle
			,project_desc AS pDesc
			,project_access AS pAccess
			,project_status AS pStatus
			,project_start AS pStart
			,project_deadline AS pDeadline
			,project_end AS pEnd
		FROM
			project_list
		LIMIT #{startRow},#{rowPerPage};
	</select>
</mapper>