<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--
   @file documentFormList.html
   @brief 양식함 관리 리스트 view
   @author 김건훈
 -->	
		<!-- CSS custom -->
		<th:block layout:fragment="customCss">
			<link rel="stylesheet" href="dist/css/electronicApproval/electronicApproval.css">
		</th:block>
		
		<th:block layout:fragment="customTitle">
		<title>양식 생성</title>
		</th:block>
	
		<!--  Script custom -->
		<th:block layout:fragment="customScript">
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script type="text/javascript">

				$(function(){
				
					 /*
					  * @brief 사내전자결재규정 물음표 아이콘 Modal Event
					  * @author 김건훈
					  */	
					$('.ik-help-circle').on('mouseover',function(e){
			 
						var divLeft = e.pageX - 150
						var divTop = e.pageY - 50
						
						$('.ruletip').css({display:"block", "top": divTop, "left": divLeft});
						
						$(this).css("color","black");
					});
					
					$('.ik').on('mouseleave',function(){
						
						$('.ruletip').css("display","none");
						$(this).css("color","#bcc8d8");
					});
					
					
					/*
					  * @brief 검색창 드롭다운 검색키워드 변경 이벤트
					  * @author 김건훈
					  */	
					$('.dropdown-item').on('click',function(){
						//console.log('드롭다운버튼클릭');
						var searchType = $(this).text();
						var tag = "<i class=\"ik ik-chevron-down mr-0 align-middle\"></i>";
						//console.log(searchType);
						$(this).parent().siblings('.dropdown-toggle').text(searchType);
						$(this).parent().siblings('.dropdown-toggle').append(tag);
					});
					
					/*
					  * @brief 각각 체크박스 체크 이벤트
					  * @author 김건훈
					  */
					  
					$(document).on('click','.ea-checkbox',function(){
						//console.log('체크박스클릭');
						if($(this).siblings('input:checkbox').is(":checked")==false){	
												$(this).siblings('input:checkbox').attr("checked", true);
						}else{			
												$(this).siblings('input:checkbox').attr("checked", false);
						};	
						
						//한개의 체크박스 선택해제시 전체선택 체크박스 해제
						var checkCount  = $('input[name=\'ea-checkbox\']:checked').length
						//console.log(checkCount);
						 if(checkCount == 2){							
												$('#all-ea-checkbox').siblings('input:checkbox').attr("checked", true);
						}else{
												$('#all-ea-checkbox').siblings('input:checkbox').attr("checked", false);
						} 
					});
					
					
					/*
					  * @brief 전체 체크박스 체크 이벤트
					  * @author 김건훈
					  */
					  
					  $(document).on('click','#all-ea-checkbox',function(){
						//console.log('체크박스클릭');
						if($(this).siblings('input:checkbox').is(":checked")==false){
												$(this).siblings('input:checkbox').attr("checked", true);
												$('.ea-checkbox').siblings('input:checkbox').attr("checked", true);
						}else{			
												$('.ea-checkbox').siblings('input:checkbox').attr("checked", false);
												$(this).siblings('input:checkbox').attr("checked", false);
						}	
					});
				});
			</script>
		</th:block>
		<th:block layout:fragment="customContents">                    
		               <div class="card">
		              	  <!-- 테이블 상단 메뉴탭 Start-->
			                 <div class="card-header"><h3>양식함 관리</h3></div>
	  							<div class="card-body">
	                                <ul class="nav">
	                                    <li class="nav-item">
	                                        <a class="nav-link" th:href="@{/insertDocumentForm}">양식생성</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#formTypeSetting">분류설정</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <div class="nav-link"><span><a href="#" data-toggle="modal" data-target="#eaRule">사내전자결재규정</a></span><i class="ik ik-help-circle"></i></div>
	                                    </li>
	                                </ul>
	                              </div>
	                            <!-- 테이블 상단 메뉴탭 End-->
	                              
	                            <!-- 양식리스트 검색창 Start -->
	                              <div class="mb-2 clearfix">
                                    <div class="collapse d-md-block display-options float-md-right" id="displayOptions">
                                        <div class="d-block d-md-inline-block">
                                            <div class="btn-group float-md-left mr-1 mb-1">
                                                <button class="btn btn-outline-dark btn-xs dropdown-toggle search-keyword-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    		항목선택<i class="ik ik-chevron-down mr-0 align-middle"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                	<a class="dropdown-item">통합</a>
                                                    <a class="dropdown-item">분류별</a>
                                                    <a class="dropdown-item">양식명</a>
                                                    <a class="dropdown-item">약칭</a>
                                                </div>
                                            </div>
                                            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                                <form action="">
                                                    <input type="text" class="form-control" placeholder="검색" required>
                                                    <button type="submit" class="btn btn-icon"><i class="ik ik-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <!-- 양식리스트 검색창 End --> 
                               
                               <!-- 양식 리스트 테이블 Start -->
                                   <div class="card-block">
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-0">
                                                <thead>
                                                    <tr>
                                                    	<th>
                                                    		<div class="border-checkbox-section">
	                                                    		<div class="border-checkbox-group border-checkbox-group-primary document-form-check-box">
	                                                       	 		<input class="border-checkbox" type="checkbox">
	                                                        		<label class="border-checkbox-label" id="all-ea-checkbox"></label>
	                                                    		</div>
	                                                    	</div>                                                 	
                                                    	</th>
                                                        <th>분류</th>
                                                        <th>사용 여부</th>
                                                        <th>양식명</th>
                                                        <th>약칭</th>
                                                        <th>설명</th>
                                                        <th>수정/삭제</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    	<td> 
                                                    		<div class="border-checkbox-section">
	                                                    		<div class="border-checkbox-group border-checkbox-group-primary document-form-check-box">
	                                                       	 		<input class="border-checkbox" type="checkbox" name="ea-checkbox">
	                                                        		<label class="border-checkbox-label ea-checkbox"></label>
	                                                    		</div>
	                                                    	</div>
                                                    	</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">프로젝트	</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">사용</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">프로젝트사업기획서</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">프로젝트사업기획</td>
                                                     	<td data-toggle="modal" data-target="#editLayoutItem">프로젝트사업기획서다.</td>
                                                        
                                                        <td>
                                                        <a href="#!"><i class="ik ik-edit f-16 mr-15 text-green"></i></a>
                                                        <a href="#!" class="ea-list-delete"><i class="ik ik-trash-2 f-16 text-red"></i></a>
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                    	<td> 
                                                    		<div class="border-checkbox-section">
	                                                    		<div class="border-checkbox-group border-checkbox-group-primary document-form-check-box">
	                                                       	 		<input class="border-checkbox" type="checkbox" name="ea-checkbox">
	                                                        		<label class="border-checkbox-label ea-checkbox"></label>
	                                                    		</div>
	                                                    	</div>
                                                    	</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">프로젝트	</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">사용</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">프로젝트완료보고서</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem">프로젝트완료보고</td>
                                                     	<td data-toggle="modal" data-target="#editLayoutItem">프로젝트완료보고서다.</td>
                                                        
                                                        <td>
                                                        <a href="#!"><i class="ik ik-edit f-16 mr-15 text-green"></i></a>
                                                        <a href="#!" class="ea-list-delete"><i class="ik ik-trash-2 f-16 text-red"></i></a>
                                                        </td>
                                                    </tr>                                                                                                         
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                 <!-- 양식 리스트 테이블 End -->                               
                        		</div>	
                        
                        
                        	<!-- 양식 리스트 테이블의 단일행 클릭시 Modal View Start -->
					          <div class="modal fade edit-layout-modal" id="editLayoutItem" tabindex="-1" role="dialog" aria-labelledby="editLayoutItemLabel" aria-hidden="true">
					            <div class="modal-dialog" role="document">
					                <div class="modal-content">
					                    <div class="modal-header">
					                        <h5 class="modal-title" id="editLayoutItemLabel">문서양식  미리보기</h5>
					                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					                    </div>
					                    <div class="modal-body">
					                        <p class="lead">문서양식  미리보기</p>
					                        <p>문서양식</p>
					                   
					                        <div class="jumbotron pt-30 pb-30 mt-30">
					                            <h2 class="mt-0">문서양식  미리보기</h2>
					                            <p class="lead">문서양식  미리보기</p>
					                        </div>
					                        <p>문서양식  미리보기</p>
					                    </div>
					                    <div class="modal-footer">
					                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					                        <a href="#" class="btn btn-primary">수정</a>
					                        <button type="button" class="btn btn-danger ea-list-delete">삭제</button>
					                    </div>
					                </div>
					            </div>
					        </div>
	                      <!-- 양식 리스트 테이블의 단일행 클릭시 Modal View End -->
	                      
	                      <!-- 사내전자결재규정 물음표 아이콘 Modal View Start --> 
	                        <div class="modal-dialog modal-sm mt-0 mb-0 ruletip" role="document">
					        	<div class="modal-content">
                               		 <div class="modal-body">
                                   		 <p>사내에서 전자결재 문서를 작성할 때 안내할 사항들을 기재할 수 있습니다.</p>
                                	 </div>
                           		 </div>
                           	</div>
                           <!-- 사내전자결재규정 물음표 아이콘 Modal View End -->
                           
                           <!-- 양식함 페이지 분류설정 Modal View Start -->
	                        <div class="modal fade show" id="formTypeSetting" tabindex="-1" role="dialog" aria-hidden="true">
	                          <div class="modal-dialog modal-sm mt-0 mb-0 modal-dialog-centered" role="document">
	                           <div class="modal-content">
	                              <div class="modal-header">
	                                  <h5 class="modal-title">분류 설정</h5>
	                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                      <span aria-hidden="true">&times;</span>
	                                  </button>
	                              </div>
	                              <div class="modal-body">
	                                  <div class="card-block widget-last-task">
	                                  <ul class="list-group approverGroupList" style="overflow-y: inherit; overflow-x:hidden; max-height: 200px; -webkit-overflow-scrolling: touch;">
	                                   	<li class="list-group-item list-group-item-action disabled">
	                                        <div class="right-icon-control m-t-15">
	                                            <div class="input-group input-group-button">
	                                                <input type="text" class="form-control" placeholder="분류를 추가하십시오.">
	                                                <div class="input-group-append">
	                                                    <button class="btn btn-primary" type="button"><i class="ik ik-plus"></i></button>
	                                                </div>
	                                            </div>
	                                        </div>
	                                   	</li>
	                                   	<li class="list-group-item list-group-item-action document-form-type-list">
	                                       	<p class="mb-10">공통 
	                                       		<span class="float-right">
	                                       			<a href="#">
	                                       				<i class="ik ik-edit f-16 mr-15 text-green"></i>
	                                       			</a>
	                                       			<a href="#">
	                                       				<i class="ik ik-trash-2 f-16 text-red"></i>
	                                   				</a>
	                                   			</span>
	                                   		</p>
	                                   	</li>
	                                   	<li class="list-group-item list-group-item-action document-form-type-list">
	                                   		<p class="mb-10">프로젝트 
	                                       		<span class="float-right">
	                                       			<a href="#">
	                                       				<i class="ik ik-edit f-16 mr-15 text-green"></i>
	                                       			</a>
	                                       			<a href="#">
	                                       				<i class="ik ik-trash-2 f-16 text-red"></i>
	                                   				</a>
	                                   			</span>
	                                   		</p>
	                                   	</li>
	                                   </ul>
	                               	 </div>
	                              </div>
	                              <div class="modal-footer">
	                                  <button type="button" class="btn btn-primary">확인</button>
	                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	                              </div>
	                          	</div>
	                         </div>
	                       </div>  
	                      <!-- 양식함 페이지 분류설정 Modal View End -->
	                      
	                      <!-- 전자결재 규정 Modal View Start -->
	                        <div class="modal fade show" id="eaRule" tabindex="-1" role="dialog" aria-hidden="true">
	                          <div class="modal-dialog modal-lg mt-0 mb-0 modal-dialog-centered" role="document">
	                           <div class="modal-content">
	                              <div class="modal-header">
	                                  <h5 class="modal-title">사내 전자결재 규정</h5>
	                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                      <span aria-hidden="true">&times;</span>
	                                  </button>
	                              </div>
	                              <div class="modal-body">
	                                	<h5>전자결재규정을작성하시오.</h5>
	                              </div>
	                              <div class="modal-footer">
	                                  <button type="button" class="btn btn-primary">수정</button>
	                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	                              </div>
	                          	</div>
	                         </div>
	                       </div>
	                     <!-- 전자결재 규정 Modal View End -->
	                                                  	
		</th:block>

	<th:block layout:fragment="customJs">        
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="/plugins/popper.js/dist/umd/popper.min.js"></script>
        <script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="/plugins/screenfull/dist/screenfull.js"></script>
        <script src="/plugins/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/plugins/summernote/dist/summernote-bs4.min.js"></script>
        <script src="/dist/js/theme.min.js"></script>
        <script src="/js/layouts.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
			<script>
		    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		    e.src='https://www.google-analytics.com/analytics.js';
		    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
			</script>
	</th:block>
</html>