<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--
   @file documentForm.html
   @brief 양식 생성 form view
   @author 김건훈
 -->	
		<!-- CSS custom -->
		<th:block layout:fragment="customCss">
			<link rel="stylesheet" href="/dist/css/electronicApproval/electronicApproval.css">
			 <link rel="stylesheet" href="/plugins/summernote/dist/summernote-bs4.css">
		</th:block>
		
		<th:block layout:fragment="customTitle">
		<title>양식함 관리</title>
		</th:block>
	
		<!--  Script custom -->
		<th:block layout:fragment="customScript">
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script type="text/javascript">
				$(function(){
				
					/*
					  * @brief 옵션 선택 드롭다운 키워드 변경 이벤트
					  * @author 김건훈
					  */	
					$('.dropdown-item').on('click',function(){
						//console.log('드롭다운버튼클릭');
						var searchType = $(this).text();
						var tag = "<i class=\"ik ik-chevron-down mr-0 align-middle\"></i>";
						//console.log(searchType);
						$(this).parent().siblings('.dropdown-toggle').text(searchType);
						$(this).parent().siblings('.dropdown-toggle').append(tag);
					});
					
					
					/*
					  * @brief 각각 체크박스 체크 이벤트
					  * @author 김건훈
					  */
					  
					$('.ea-checkbox').on('click',function(){
						//console.log('체크박스클릭');
						if($(this).siblings('input:checkbox').is(":checked")==false){	
												$(this).siblings('input:checkbox').attr("checked", true);
						}else{			
												$(this).siblings('input:checkbox').attr("checked", false);
						};	
					});
					
					 
					/*
					  * @brief 양식생성 페이지 테이블 내 약칭,보존연한,보안등급 물음표 아이콘 Modal Event
					  * @author 김건훈
					  */	
					$('.ik-help-circle').on('mouseover',function(e){
						//console.log('마우스오버');
						var ruleTipType = $(this).siblings().text()
						console.log(ruleTipType)
						if(ruleTipType=='약칭'){
							$('#modal-content-type').text('약칭은 문서 번호에 쓰이기 때문에 간단할 수록 좋습니다. 중복하여 사용할 수 있지만 구분하는 것이 좋습니다.');	
						}else if(ruleTipType=='보존 연한'){
							$('#modal-content-type').text('문서의 초기값으로 설정 할 보존연한을 선택합니다. 변경 금지 선택 시 기안자와 결재자가 이를 수정할 수 없습니다. 보존 연한이 만료되면 삭제 문서 목록으로 이동합니다.');
						}else if(ruleTipType=='보안 등급'){
							$('#modal-content-type').text('문서의 초기값으로 설정 할 보안등급을 선택합니다. 변경 금지 선택 시 기안자와 결재자가 이를 수정할 수 없습니다. 보안 등급에 따라 열람 권한이 제한됩니다.');
						}
  						var sWidth = window.innerWidth;
						var sHeight = window.innerHeight;
						var mWidth = $('.ruletip').width();
						var mHeight = $('.ruletip').height();
						var divLeft = e.clientX - 150;
						var divTop = e.clientY - 48;
						
						if( divLeft + mWidth > sWidth ) divLeft -= mWidth;
						if( divTop + mHeight > sHeight ) divTop -= mWidth;		
						$('.ruletip').css({display:"block", "top": divTop, "left": divLeft});
						
						$(this).css("color","black");
						
					});
				
					$('.ik-help-circle').on('mouseleave',function(){
						
						$('.ruletip').css("display","none");
						$(this).css("color","#bcc8d8");
					});
				});
			</script>
		</th:block>
		<th:block layout:fragment="customContents">                    
		               <div class="card">
		              	  <!-- 테이블 상단 메뉴탭 Start-->
			                 <div class="card-header">
			                 	<button type="button" class="btn btn-primary">
			                 		<i class="ik ik-check-circle"></i>양식 생성
			                 	</button>
			                 </div>
	                           <!-- 테이블 상단 메뉴탭 End-->
	                           <div class="approvalForm">                          
                               <!-- 문서 양식 기본설정 테이블 Start -->
                                    <div class="card-header d-block">
                                        <h6>기본설정</h6> 
                                    <div class="card-body p-0 table-border-style">
                                        <div class="table-responsive">
                                            <table class="table document-form-table">                                          
                                                <tbody>
                                                    <tr>
                                                        <td class="table-active document-form-table-td">분류</td>
                                                        <td>          
                                                        	<button class="btn btn-outline-dark btn-xs dropdown-toggle col-sm-7" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    		분류 선택<i class="ik ik-chevron-down mr-0 align-middle"></i>
                                               				</button>
			                                                <div class="dropdown-menu">
			                                                	<a class="dropdown-item">공통</a>
			                                                    <a class="dropdown-item">프로젝트</a>
			                                                </div>
                                              		  </td>
                                                        <td class="table-active document-form-table-td">양식명</td>
                                                        <td><input type="text" class="form-control col-sm-7"></td>
                                                    </tr>
                                                     <tr>
                                                        <td class="table-active document-form-table-td"><span>약칭</span><i class="ik ik-help-circle"></i></td>
                                                        <td><input type="text" class="form-control col-sm-7"></td>
                                                        <td class="table-active document-form-table-td">설명</td>
                                                        <td><input type="text" class="form-control col-sm-7"></td>
                                                    </tr>
                                                     <tr>
                                                        <td class="table-active document-form-table-td"><span>보존 연한</span><i class="ik ik-help-circle"></i></td>
                                                        <td>
                                                        	<button class="btn btn-outline-dark btn-xs dropdown-toggle col-sm-7" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    		보존연한 선택<i class="ik ik-chevron-down mr-0 align-middle"></i>
                                               				</button>
			                                                <div class="dropdown-menu">
			                                                	<a class="dropdown-item">1년</a>
			                                                    <a class="dropdown-item">5년</a>
			                                                    <a class="dropdown-item">10년</a>
			                                                    <a class="dropdown-item">영구</a>
			                                                </div>
			                                                <div class="border-checkbox-section document-form-checkbox">
	                                                    		<div class="border-checkbox-group border-checkbox-group-primary">
	                                                       	 		<input class="border-checkbox" type="checkbox" name="ea-checkbox">
	                                                        		<label class="border-checkbox-label ea-checkbox ">변경 금지</label>
	                                                    		</div>
	                                                    	</div>
			                                                </td>
                                                        <td class="table-active document-form-table-td"><span>보안 등급</span><i class="ik ik-help-circle"></i></td>
                                                        <td>
                                                        	<button class="btn btn-outline-dark btn-xs dropdown-toggle col-sm-7" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    		보안등급 선택<i class="ik ik-chevron-down mr-0 align-middle"></i>
                                               				</button>
			                                                <div class="dropdown-menu">
			                                                	<a class="dropdown-item">S등급</a>
			                                                    <a class="dropdown-item">A등급</a>
			                                                    <a class="dropdown-item">B등급</a>
			                                                    <a class="dropdown-item">C등급</a>
			                                                </div>
			                                                <div class="border-checkbox-section document-form-checkbox">
	                                                    		<div class="border-checkbox-group border-checkbox-group-primary">
	                                                       	 		<input class="border-checkbox" type="checkbox" name="ea-checkbox">
	                                                        		<label class="border-checkbox-label ea-checkbox">변경 금지</label>
	                                                    		</div>
	                                                    	</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                
                                 <!-- 문서 양식 기본설정 테이블  End -->
                                 
                                 <!-- 문서 양식 결재라인 포맷 설정 Start -->  
                                    <div class="card-header d-block">                                   
                                       <h6>결재 양식 </h6>
                                       <button type="button" class="btn btn-link" data-toggle="modal" data-target="#approval-format" style="float: right;">설정</button>
                                    </div>
                                 <!-- 문서 양식 결재라인 포맷 설정 End -->
                                 
                                 <!-- 문서 양식 상세내용 summer note editor Start -->    
                                    <div class="card-body  table-border-style">
                                        <textarea class="form-control html-editor" rows="10"></textarea>
                                    </div>
                        		<!-- 문서 양식 상세내용 summer note editor End -->
                        		</div>    
                        		</div>
                        		
                        		<!-- 양식생성 페이지 테이블 내 약칭,보존연한,보안등급 물음표 아이콘 Modal View Start --> 
	                        	<div class="modal-dialog modal-sm mt-0 mb-0 ruletip" role="document">
						        	<div class="modal-content">
	                               		 <div class="modal-body">
	                                   		 <p id="modal-content-type"></p>
	                                	 </div>
	                           		 </div>
                           		</div>
                        		<!-- 양식생성 페이지 테이블 내 약칭,보존연한,보안등급 물음표 아이콘 Modal View End -->
                        		
                        		<!-- 결재 포맷지정 Modal View Start -->
		                        <div class="modal fade show" id="approval-format" tabindex="-1" role="dialog" aria-hidden="true">
		                          <div class="modal-dialog modal-lg mt-0 mb-0 modal-dialog-centered" role="document">
		                           <div class="modal-content">
		                              <div class="modal-header">
		                                  <h5 class="modal-title">결재 포맷을 선택하세요.</h5>
		                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                                      <span aria-hidden="true">&times;</span>
		                                  </button>
		                              </div>
		                              <div class="modal-body">
		                                	<div class="card">
		                                		<div class="card-header">
		                                		1
		                                		</div>
		                                		<div class="card-body">
		                                		2
		                                		</div>
		                                		<div class="card-header">
		                                		3
		                                		</div>
		                                		<div class="card-body">
		                                		4
		                                		</div>
		                                		<div class="card-header">
		                                		5
		                                		</div>
		                                		<div class="card-body">
		                                		6
		                                		</div>
		                                		<div class="card-header">
		                                		7
		                                		</div>
		                                		<div class="card-body">
		                                		8
		                                		</div>
		                                	</div>
		                              </div>
		                              <div class="modal-footer">
		                                  <button type="button" class="btn btn-primary">다음</button>
		                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
		                              </div>
		                          	</div>
		                         </div>
		                       </div>
	                     	<!-- 결재 포맷지정 Modal View Start --> 
		</th:block>

	<th:block layout:fragment="customJs">        
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="/plugins/popper.js/dist/umd/popper.min.js"></script>
        <script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="/plugins/screenfull/dist/screenfull.js"></script>
        <script src="/plugins/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/plugins/summernote/dist/summernote-bs4.min.js"></script>
        <script src="/dist/js/theme.min.js"></script>
        <script src="/js/layouts.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
			<script>
		    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		    e.src='https://www.google-analytics.com/analytics.js';
		    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
			</script>
	</th:block>
</html>