<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--
   @file documentFormList.html
   @brief 양식함 관리 리스트 view
   @author 김건훈
 -->	
		<!-- CSS custom -->
		<th:block layout:fragment="customCss">
			<link rel="stylesheet" href="dist/css/electronicApproval/electronicApproval.css">
			<link rel="stylesheet" href="icheck/skins/square/blue.css">
			<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
		</th:block>
		
		<th:block layout:fragment="customTitle">
		<title>양식함 관리</title>
		</th:block>
	
		<!--  Script custom -->
		<th:block layout:fragment="customScript">
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="icheck/icheck.min.js"></script>
			<script type="text/javascript">

				$(function(){
				
					 /*
					  * @brief 사내전자결재규정 물음표 아이콘 Modal Event
					  * @author 김건훈
					  */	
					$('.ik-help-circle').on('mouseover',function(e){
			 
						var divLeft = e.pageX - 150
						var divTop = e.pageY - 50
						
						$('.ruletip').css({display:"block", "top": divTop, "left": divLeft});
						
						$(this).css("color","black");
					});
					
					$('.ik').on('mouseleave',function(){
						
						$('.ruletip').css("display","none");
						$(this).css("color","#bcc8d8");
					});
					
					
					/*
					  * @brief 검색창 드롭다운 검색키워드 변경 이벤트
					  * @author 김건훈
					  */	
					$('.dropdown-item').on('click',function(){
						//console.log('드롭다운버튼클릭');
						var searchType = $(this).text();
						var tag = "<i class=\"ik ik-chevron-down mr-0 align-middle\"></i>";
						//console.log(searchType);
						$(this).parent().siblings('.dropdown-toggle').text(searchType);
						$(this).parent().siblings('.dropdown-toggle').append(tag);
					});
					
					 /*
					  * @brief icheck plug-in 사용
					  * @author 김건훈
					  */

					$(".ea-icheck").iCheck({

						checkboxClass: 'icheckbox_square-blue'

					});
					 
					 //페이지 로딩 시 체크박스 체크 초기화
					$('#all-ea-checkbox,.ea-checkbox').iCheck('uncheck');
					
					 /*
					  * @brief 각각 체크박스 체크 이벤트
					  * @author 김건훈
					  */

					  $('.ea-checkbox').on('ifChecked', function(event){
						  //console.log('체크박스클릭');
						  var checkCount  = $('.ea-checkbox:checked').length;
						  //console.log(checkCount);
							  if(checkCount == 3){							
								 	 $('#all-ea-checkbox').iCheck('check');
							  }else{
								  	 $('#all-ea-checkbox').iCheck('uncheck');
							  }
							  
							  if(checkCount>0){
									$('.table-row-delete-nav').css('visibility','visible')
			 					}else{
									$('.table-row-delete-nav').css('visibility','hidden')
			 					}
						  });
					
					  $('.ea-checkbox').on('ifUnchecked', function(event){
						  //console.log('체크박스클릭');
						  var checkCount  = $('.ea-checkbox:checked').length;
						  //console.log(checkCount);
							  if(checkCount == 3){							
								 	 $('#all-ea-checkbox').iCheck('check');
							  }else{
								  	 $('#all-ea-checkbox').iCheck('uncheck');
							  }
							  
							  if(checkCount>0){
									$('.table-row-delete-nav').css('visibility','visible')
			 					}else{
									$('.table-row-delete-nav').css('visibility','hidden')
			 					}
						  });
					  
					 
					
					
					 /*
					  * @brief 전체 체크박스 체크 이벤트
					  * @author 김건훈
					  */
					  
					  $('#all-ea-checkbox').on('ifChecked', function(event){
						  
						  var checkCount  = $('.ea-checkbox:checked').length;
						  	 	
						  $('.ea-checkbox').iCheck('check');

					  });
					
						
					  $('#all-ea-checkbox').on('ifUnchecked', function(event){
						 
						  var checkCount  = $('.ea-checkbox:checked').length;
						  
						  if(checkCount == 3){
						 		
							  $('.ea-checkbox').iCheck('uncheck');
						  }
					  });
					  
					  
					  /*
					   * @brief 사내 전자결재 수정 form 전환 Event
					   * @author 김건훈
					   */
					   $('.ea-rule-update-btn').on('click',function(){
						   //console.log('사내전자 결재 수정 버튼 클릭')
						   $('.ea-rule-update-after').css('display','block');
						   $('.ea-rule-update-btn-after').css('display','block');
						   
						   $('.ea-rule-update-before').css('display','none');
						   $('.ea-rule-update-btn-before').css('display','none');
						   
						   var eaRuleContents = $('#ea-rule-contents').text();
						   $('#ea-rule-update-summernote').summernote('insertText',eaRuleContents);
					   });
					  
					   $('.ea-rule-cancel-btn').on('click',function(){
						   //console.log('사내전자 결재 수정 취소 버튼 클릭')
						   $('.ea-rule-update-after').css('display','none');
						   $('.ea-rule-update-btn-after').css('display','none');
						   
						   $('.ea-rule-update-before').css('display','block');
						   $('.ea-rule-update-btn-before').css('display','block');
						   
						   $('#ea-rule-update-summernote').summernote('reset');
						   
					   });
					   
					   
					   /*
					    * @brief 사내 전자결재 수정 완료 Event
					    * @author 김건훈
					    */
					    $('#ea-rule-update-submit-btn').on('click',function(){
					    	//console.log('수정완료 버튼 클릭')
					    	var eaRuleVal=$('#ea-rule-update-summernote').val();
					    	//console.log(eaRuleVal);
					    	
					    	  var request = $.ajax({
								    url: "/ajaxUpdateEaRule",
								    method: "POST",
								    data: {eaRuleVal : eaRuleVal},
								    dataType: "json"
								  });
								   
								  request.done(function(data) {
								  	
								  	
								  });
								   
								  request.fail(function( jqXHR, textStatus ) {
								    alert( "Request failed: " + textStatus );
								  });  
					    });   
						   
						   
					   /*
					   * @brief 사내 전자결재 수정 화면 summernote plug-in 사용
					   * @author 김건훈
					   */
					   $('#ea-rule-update-summernote').summernote({   
				             height: 300,                 
				             minHeight: null,             
				             maxHeight: null,             
				             focus: true,      
				             lang: "ko-KR",
				             popover: {
				                 image: [],
				                 link: [],
				                 air: []
				               },
				             toolbar: [
				                    ['Font Style', ['fontname']],
				                    ['style', ['bold', 'italic', 'underline']],
				                    ['font', ['strikethrough']],
				                    ['fontsize', ['fontsize']],
				                    ['color', ['color']],
				                    ['para', ['paragraph']],
				                    ['height', ['height']],
				                    ['Insert', ['picture']],
				                    ['Insert', ['link']],
				                    ['table', ['table']]
				                	  ]   
				     });
					 
				});
			</script>
		</th:block>
		<th:block layout:fragment="customContents">
						<div class="page-header">
					       <div class="row align-items-end">
					           <div class="col-lg-8">
					               <div class="page-header-title">
					                   <i class="ik ik-credit-card bg-blue"></i>
					                   <div class="d-inline">
					                       <h5>그룹웨어</h5>
					                       <span>(주)TEAM02</span>
					                   </div>
					               </div>
					           </div>
					           <div class="col-lg-4">
					               <nav class="breadcrumb-container" aria-label="breadcrumb">
					                   <ol class="breadcrumb">
					                       <li class="breadcrumb-item">
					                           <a th:href="@{/index}"><i class="ik ik-home"></i></a>
					                       </li>
					                       <li class="breadcrumb-item">전자결재 설정</li>
					                       <li class="breadcrumb-item active" aria-current="page">양식함 관리</li>
					                   </ol>
					               </nav>
					           </div>
					       </div>
					   </div>                    
		               <div class="card">
		              	  <!-- 테이블 상단 메뉴탭 Start-->
			                 <div class="card-header ea-card-header">
			                 	<h3>양식함 관리</h3>
			                 </div>
									<ul class="nav document-form-list-top-nav">
	                                    <li class="nav-item">
	                                        <a class="nav-link text-primary" th:href="@{/insertDocumentForm}">양식생성</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link text-primary" href="#" data-toggle="modal" data-target="#formTypeSetting">분류설정</a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <div class="nav-link"><span><a class="text-primary" href="#" data-toggle="modal" data-target="#eaRule" data-backdrop="static" data-keyboard="false">사내전자결재규정</a></span><i class="ik ik-help-circle"></i></div>
	                                    </li>
	                                </ul>
	                            <!-- 테이블 상단 메뉴탭 End-->
	                            
                              	<!-- 테이블 상단 삭제 및 검색 탭 Start -->
                                   <div class="card-block">
                                   <div class="table-nav">
                                   	<ul class="nav table-row-delete-nav" >
	                                    <li class="nav-item">
	                                      <button type="button" class="btn btn-outline-danger ea-list-delete">삭제</button> 
	                                    </li>
	                                </ul>
                                    <div class="collapse d-md-block display-options float-md-right" id="displayOptions">
                                        <div class="d-block d-md-inline-block">
                                            <div class="btn-group float-md-left mr-1 mb-1">
                                                <button class="btn btn-outline-dark btn-xs dropdown-toggle search-keyword-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    		항목선택<i class="ik ik-chevron-down mr-0 align-middle"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                	<a class="dropdown-item">통합</a>
                                                    <a class="dropdown-item">분류별</a>
                                                    <a class="dropdown-item">양식명</a>
                                                    <a class="dropdown-item">약칭</a>
                                                </div>
                                            </div>
                                            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                                <form action="">
                                                    <input type="text" class="form-control" placeholder="검색" required>
                                                    <button type="submit" class="btn btn-icon"><i class="ik ik-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>      
                                   </div>
                                   <!-- 테이블 상단 삭제 및 검색 탭 End --> 
                                    <!-- 양식 리스트 테이블 Start -->
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-0 ea-table">
                                                <thead>
                                                    <tr>
                                                    	<th>
                                                    		<input type="checkbox" class="ea-icheck" id="all-ea-checkbox">                                               	
                                                    	</th>
                                                        <th>분류</th>
                                                        <th>양식명</th>
                                                        <th>약칭</th>
                                                        <th>설명</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="dfl:${eaDocumentFormList}">
                                                    	<td> 
                                                    		<input type="checkbox" class="ea-icheck ea-checkbox">
                                                    	</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem" th:text="${dfl.dFormType}">프로젝트</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem" th:text="${dfl.dFormName}">프로젝트사업기획서</td>
                                                        <td data-toggle="modal" data-target="#editLayoutItem" th:text="${dfl.dFormAbbreviation}">프로젝트사업기획</td>
                                                     	<td data-toggle="modal" data-target="#editLayoutItem" th:text="${dfl.dFormDetailExplanation}">프로젝트사업기획서다.</td>
                                                    </tr>                                                                                                        
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="contents-quantity">양식 수 : 3</span>
	                                 	<nav aria-label="Page navigation example">
                                            <ul class="pagination mb-0 pagination-btn-group">
                                                <li class="page-item">
                                                    <a class="page-link first" href="#">
                                                        <i class="ik ik-chevrons-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link prev" href="#">
                                                        <i class="ik ik-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">4</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">5</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link next" href="#" aria-label="Next">
                                                        <i class="ik ik-chevron-right"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link last" href="#">
                                                        <i class="ik ik-chevrons-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                 <!-- 양식 리스트 테이블 End -->                                                         
                        		</div>	
                        
                        
                        	<!-- 양식 리스트 테이블의 단일행 클릭시 Modal View Start -->
					          <div class="modal fade edit-layout-modal" id="editLayoutItem" tabindex="-1" role="dialog" aria-labelledby="editLayoutItemLabel" aria-hidden="true">
					            <div class="modal-dialog" role="document">
					                <div class="modal-content">
					                    <div class="modal-header">
					                        <h5 class="modal-title" id="editLayoutItemLabel">문서양식  미리보기</h5>
					                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					                    </div>
					                    <div class="modal-body">
					                        <p class="lead">문서양식  미리보기</p>
					                        <p>문서양식</p>
					                   
					                        <div class="jumbotron pt-30 pb-30 mt-30">
					                            <h2 class="mt-0">문서양식  미리보기</h2>
					                            <p class="lead">문서양식  미리보기</p>
					                        </div>
					                        <p>문서양식  미리보기</p>
					                    </div>
					                    <div class="modal-footer">
					                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					                        <a th:href="@{/selectDocumentFormDetail}" class="btn btn-primary">상세보기</a>
					                        <button type="button" class="btn btn-danger ea-list-delete">삭제</button>
					                    </div>
					                </div>
					            </div>
					        </div>
	                      <!-- 양식 리스트 테이블의 단일행 클릭시 Modal View End -->
	                      
	                      <!-- 사내전자결재규정 물음표 아이콘 Modal View Start --> 
	                        <div class="modal-dialog modal-sm mt-0 mb-0 ruletip" role="document">
					        	<div class="modal-content">
                               		 <div class="modal-body">
                                   		 <p>사내에서 전자결재 문서를 작성할 때 안내할 사항들을 기재할 수 있습니다.</p>
                                	 </div>
                           		 </div>
                           	</div>
                           <!-- 사내전자결재규정 물음표 아이콘 Modal View End -->
                           
                           <!-- 양식함 페이지 분류설정 Modal View Start -->
	                        <div class="modal fade show" id="formTypeSetting" tabindex="-1" role="dialog" aria-hidden="true">
	                          <div class="modal-dialog modal-sm mt-0 mb-0 modal-dialog-centered" role="document">
	                           <div class="modal-content">
	                              <div class="modal-header">
	                                  <h5 class="modal-title">분류 설정</h5>
	                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                      <span aria-hidden="true">&times;</span>
	                                  </button>
	                              </div>
	                              <div class="modal-body">
	                                  <div class="card-block widget-last-task">
	                                  <ul class="list-group approverGroupList" style="overflow-y: inherit; overflow-x:hidden; max-height: 200px; -webkit-overflow-scrolling: touch;">
	                                   	<li class="list-group-item list-group-item-action disabled">
	                                        <div class="right-icon-control m-t-15">
	                                            <div class="input-group input-group-button">
	                                                <input type="text" class="form-control" placeholder="분류를 추가하십시오.">
	                                                <div class="input-group-append">
	                                                    <button class="btn btn-primary" type="button"><i class="ik ik-plus"></i></button>
	                                                </div>
	                                            </div>
	                                        </div>
	                                   	</li>
	                                   	<th:block th:each="dftl:${eaDocumentFormTypeList}">
	                                   	<li class="list-group-item list-group-item-action document-form-type-list">
	                                       	<p class="mb-10">
	                                       		<span th:text="${dftl.dFormType}"></span>
	                                       		<span class="float-right">
	                                       			<a href="#">
	                                       				<i class="ik ik-edit f-16 mr-15 text-green"></i>
	                                       			</a>
	                                       			<a href="#">
	                                       				<i class="ik ik-trash-2 f-16 text-red"></i>
	                                   				</a>
	                                   			</span>
	                                   		</p>
	                                   	</li>	        
	                                   	</th:block>
	                                   </ul>
	                               	 </div>
	                              </div>
	                              <div class="modal-footer">
	                                  <button type="button" class="btn btn-primary">확인</button>
	                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
	                              </div>
	                          	</div>
	                         </div>
	                       </div>  
	                      <!-- 양식함 페이지 분류설정 Modal View End -->
	                      
	                      <!-- 사내 전자결재 규정 Modal View Start -->
	                        <div class="modal fade show" id="eaRule" tabindex="-1" role="dialog" aria-hidden="true">
	                          <div class="modal-dialog modal-lg mt-0 mb-0 modal-dialog-centered" role="document">
	                           <div class="modal-content">
	                              <div class="modal-header">
	                                  <h5 class="modal-title">사내 전자결재 규정</h5>
	                              </div>
	                              <div class="modal-body ea-rule-update-before">
	                                  <pre id="ea-rule-contents"><th:block th:utext="${eaDocumentSetting.get(0).dEaRule}"></th:block></pre>
	                              </div>
	                              <div class="modal-body ea-rule-update-after">
	                                 <textarea id="ea-rule-update-summernote" rows="10"></textarea>
	                              </div>
	                              <div class="modal-footer ea-rule-update-btn-before">
	                                  <button type="button" class="btn btn-primary ea-rule-update-btn">규정 수정</button>
	                                  <button type="button" class="btn btn-secondary ea-rule-cancel-btn" data-dismiss="modal">취소</button>
	                              </div>
	                              <div class="modal-footer ea-rule-update-btn-after">
	                                  <button type="button" class="btn btn-primary" id="ea-rule-update-submit-btn">수정 완료</button>
	                                  <button type="button" class="btn btn-secondary ea-rule-cancel-btn" data-dismiss="modal">취소</button>
	                              </div>
	                          	</div>
	                         </div>
	                       </div>
	                     <!-- 전자결재 규정 Modal View End -->
	                                                  	
		</th:block>

	<th:block layout:fragment="customJs">        
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="/plugins/popper.js/dist/umd/popper.min.js"></script>
        <script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="/plugins/screenfull/dist/screenfull.js"></script>
        <script src="/plugins/sweetalert/dist/sweetalert.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
        <script src="/summernote/lang/summernote-ko-KR.js"></script>
        <script src="/dist/js/theme.min.js"></script>
        <script src="/js/layouts.js"></script>
	</th:block>
</html>